body, html, #root {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
    height: 100%;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(5.5px);
    }
    100% {
      opacity: var(--final-opacity, 1);
      transform: translateY(0);
      filter: blur(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
  }
  